@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url(/public/cirpnova-d.ttf);
@import url(/public/WonderGardenScript-Regular.ttf);
@import url(/public/WonderGardenScript-Regular.woff);
@import url(/public/WonderGardenScript-Regular.woff2);
@import url(/public/KZ_Andantino_script_kz.ttf);


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color:  black;
  background-image: url('/background.jpg');
  background-size: contain;
}
